* {
  font-family: "Raleway", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#booki-logo {
  padding-left: 30px;
  padding-top: 15px;
  width: 100px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
}

nav ul li a:visited {
  color: #858c7b;
}

nav ul li a:hover {
  border-top-style: solid;
  border-top-color: #0065fc;
  padding-top: 20px;
  color: #0065fc;
}

.h2-heading {
  padding-left: 30px;
}
