* {
  font-family: "Raleway", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 2px 10px;
}
#booki-logo {
  padding-left: 30px;
  padding-top: 15px;
  width: 100px;
  padding-right: 900px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  padding: 8px 12px;
  display: inline-block;
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-links ul li a:visited {
  color: #858c7b;
}

.nav-links ul li a:hover {
  border-top-style: solid;
  border-top-color: #0065fc;
  padding-top: 20px;
  color: #0065fc;
}

.h2-heading {
  padding-left: 30px;
  font-size: 15px;
}

.h2-heading form {
  margin-left: 10px;
}

/* .nav-links {
  padding-right: 20px;
} */

button,
input {
  margin-left: -10px;
  height: 20px;
}

button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #0065fc;
  height: 26px;
}

/* for mobile to have border be on bottom */
@media (max-width: 768px) {
  .header {
    display: block;
    /* align-items: center; */
  }

  nav {
    display: block;
    /* align-items: center; */
  }

  #booki-logo {
    padding-left: 15px;
    padding-top: 10px;
    width: 100px;
    padding-right: 100px;
  }

  .nav-links {
    position: absolute;
  }

  .nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links ul li a:hover {
    border-bottom-style: solid;
    border-bottom-color: #0065fc;
    padding-bottom: 20px;
    color: #0065fc;
    border-top-style: none;
  }

  .h2-heading {
    display: block;
    position: absolute;
    flex-direction: row;
    padding-left: 30px;
    font-size: 10px;
  }
  button {
    display: none;
  }
}
