* {
  font-family: "Raleway", sans-serif;
}

/*  CLASS = HEADER AND CLASS = NAV-LINKS */
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  width: 100%;
}

#booki-logo {
  padding-left: 20px;
  padding-top: 15px;
  width: 100px;
}

/* accomodation and activities styling */
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  padding: 8px 12px;
  display: inline-block;
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-links ul li a:visited {
  color: #858c7b;
}

.nav-links ul li a:hover {
  border-top-style: solid;
  border-top-color: #0065fc;
  padding-top: 20px;
  color: #0065fc;
}
/* MQ FOR CLASS = HEADER AND CLASS = NAV-LINKS */
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
    padding: 0;
  }

  /* this makes it so that the nav takes the entire 
     space of the screen aka parent*/
  .nav-links {
    width: 100%;
  }
  .nav-links ul {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  /* make 50% width and align text in center as child */
  .nav-links ul li {
    width: 50%;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #f2f2f2;
    border-bottom-width: 3px;
    padding-bottom: 10px;
  }

  .nav-links ul li:hover {
    border-bottom-style: solid;
    border-bottom-color: #0065fc;
    color: #0065fc;
    border-bottom-width: 3px;
  }

  /* since in desktop the hover effect was on a
we have to add this so border from top is not visible */
  .nav-links ul li a:hover {
    border-top-style: none;
  }
}

/* ------------------------------------------------------ */
/* CLASS = SEARCH STYLING  */
/* text styling gives padding to text
   and to search bar */
.search {
  padding-left: 30px;
  font-size: 15px;
}

/* changing font size of h1 and p */
.search h1 {
  font-size: 15px;
}
.search p {
  font-size: 12px;
}
/* when you click search box it does not
   highlight the box */
.search input[type="text"] {
  outline: none;
}

.search form,
i {
  display: inline-block;
}

/* styling the location image */
.search i#location {
  border-style: solid;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  margin-right: 6px;
}

/* styling the magnifying glass image */
.search i#magnifying-glass {
  display: none;
}

/* styling the text input area */
.search input {
  margin-left: -10px;
  border-left-style: none;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-top-color: #f2f2f2;
  border-bottom-color: #f2f2f2;
  height: 32.5px;
}
/* makes the text in the value be bold */
.search input[value] {
  font-weight: bold;
}

/* styling the search bar to be rounded and the height
  and its proximity to the actual text input */
.search button {
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  background-color: #0065fc;
  height: 36px;
  border-style: none;
  margin-left: -10px;
}

/* MQ FOR CLASS = SEARCH  */
@media (max-width: 768px) {
  .search {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 15px;
    margin-top: 60px;
    font-size: 20px;
  }

  .search h1 {
    font-size: 23px;
  }

  .search form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .search p {
    font-size: 15px;
  }
  button {
    display: none;
  }
  /* styling the location image */
  .search i#location {
    padding: 12px;
  }

  /* styling the magnifying glass image */
  .search i#magnifying-glass {
    display: inline-block;
    border-style: solid;
    padding: 10px;
    padding-top: 12px;
    border-radius: 15px;
    background-color: #0065fc;
    border-color: #0065fc;
    color: white;
    margin-left: -10px;
    height: 22px;
  }

  /* makes the text in the value be bold */
  #search {
    height: 42px;
  }
}
/* ------------------------------------------------------ */
/* CLASS = FILTERS STYLING */

.filters-container {
  display: flex;
  align-items: center;
}
/* padding for the title of "Filters" */
.filters-container h2 {
  padding-left: 30px;
  font-size: 15px;
}

.filters-container ul {
  padding-left: 20px;
}

/* the style of the unordered list */
.filters-container ul li {
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  font-size: 12px;
}

/* the style of each individual filter pill */
.filters-container ul li a {
  text-decoration: none;
  border-style: solid;
  padding: 10px 10px 10px 20px;
  color: black;
  border-color: #f2f2f2;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left-style: none;
}

/* what happens when you hover over a filter */
.filters-container ul li a:hover {
  color: #0065fc;
}

/* style of the images next to each filter */
.filter-images {
  border-radius: 30px;
  border-style: solid;
  color: #0065fc;
  background-color: #deebff;
  border-color: #deebff;
  padding: 12px;
  margin-right: -20px;
}

.info-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

#info {
  display: flex;
  margin-left: 30px;
  padding: 7px;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  font-weight: bold;
  font-size: 8px;
}

#text {
  margin-left: 10px;
  font-size: 13px;
}

/* MQ FOR CLASS = FILTERS  */
@media (max-width: 768px) {
  .filters-container {
    display: flex;
    flex-flow: row wrap;
  }

  /* getting the filter buttons closer to the title */
  .filters-container h2 {
    margin-bottom: -10px;
    font-size: 20px;
  }

  /* making the filters closer to the left of the screen */
  .filters-container ul {
    display: flex;
    flex-flow: row wrap;
  }
  /* the style of the unordered list */
  .filters-container ul li {
    font-size: 15px;
    margin: 10px;
  }

  .filters-container ul li:nth-child(1),
  ul li:nth-child(3) {
    order: -1;
  }

  .filters-container ul li a {
    padding-right: 25px;
    padding-left: 22px;
  }
  #info {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 12px;
    margin-right: 1px;
  }

  #text {
    font-size: 15px;
  }
}

/* MAIN */
/* ------------------------------------------------------ */
/* CLASS = ACCOMODATIONS */

main {
  display: flex;
  flex-direction: row;
}

.accomodations {
  display: flex;
  flex-direction: column;
  flex-basis: 66%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 30px;
  padding-top: 10px;
}

.accomodation-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: -20px;
}
.accomodations h2 {
  padding-left: 40px;
  font-size: 16px;
}

.hotel-cards {
  display: grid;
  grid-template-rows: 210px 1fr;
  padding-left: 0;
}
/* remove underneath hyperlink for each */
.hotel-cards a {
  text-decoration: none;
}
/* get the nights starting at text closer to hotel title */
.hotel-cards p {
  margin-top: -5px;
}

.a-cards-div {
  border: 4px;
  border-radius: 15px;
  width: 205px;
  background-color: white;
  height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.a-cards-div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.hotel-cards img {
  object-fit: cover;
  width: 199px;
  height: 55%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-style: none;
  padding: 3px;
  background-color: white;
}

/* adjust the spacing of the stars */
.hotel-cards i {
  letter-spacing: -4px; /* Adjust this value to control the spacing */
}

.hotel-cards i.empty {
  color: gray;
}

.a-cards {
  padding-left: 45px;
}

.a-cards:visited {
  color: black;
  text-decoration: none;
}
/* so that the title of the hotel does not get
affected by the same padding that the Accomodations
title has */
.a-cards h2 {
  padding-left: 8px;
  font-size: 14px;
  margin-top: 0; /* get the title closer to the image */
}

/* style the price text of the cards */
.a-cards p {
  padding-left: 8px;
  font-size: 12px;
  margin-bottom: 0; /* get the stars closer to this text */
}

.stars {
  padding-left: 8px;
}

.a-cards i.full {
  font-size: 5px;
  color: #0065fc;
  text-decoration: none;
}

.a-cards i.empty {
  font-size: 5px;
  color: #f2f2f2;
  text-decoration: none;
}

.a-cards:nth-child(1),
.a-cards:nth-child(0),
.a-cards:nth-child(-1) {
  padding-top: 25px;
}

.show-more {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.show-more a {
  text-decoration: none;
  color: black;
}

/* MQ FOR CLASS = ACCOMODATIONS */

@media (max-width: 768px) {
  /* puts the MP before accomodations */
  .accomodations-main {
    display: flex;
    flex-direction: column-reverse;
  }

  .accomodations {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: white;
  }
  /*  padding of show more */
  .accomodations h2 {
    padding-left: 10px;
    font-size: 15px;
  }

  .a-cards {
    padding-left: 0px;
    width: 100%;
    /* margin-right: -100px; */
  }

  .a-cards p {
    padding-left: 10px;
    font-size: 13px;
  }

  .a-cards i.full {
    font-size: 12px;
    padding-top: 12px;
  }

  .a-cards i.empty {
    font-size: 12px;
  }

  .stars {
    padding-left: 10px;
  }

  .a-cards-div {
    width: 90%;
    height: 100%;
  }

  .hotel-cards img {
    width: 98%;
  }

  .show-more {
    margin-top: 20px;
    margin-left: -10px;
  }

  .show-more h2 {
    font-size: 17px;
  }

  .accomodations-title h2 {
    font-size: 22px;
    padding: 0;
  }
}

/* ------------------------------------------------------ */
/* CLASS = MOST POPULAR */

.most-popular {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  flex-basis: 33%;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
/* to style Most Popular title */
.mp-title {
  margin: 15px 0px 0px 25px;
  font-size: 13px;
  display: block;
  color: black;
}

/* have star be next to title */
.mp-title h2,
i {
  display: inline-block;
}

/* position the star to where it is */
.mp-title i {
  margin-left: 190px;
  font-size: 20px;
}

/* remove underneath hyperlink for each */
.mp-a-cards a {
  text-decoration: none;
  color: black;
}

/* the title of the hotel names */
.mp-a-cards-div h2 {
  font-size: 14px;
  padding-left: 10px;
}
/* the text for the p tag in for the hotels */
.mp-a-cards-div p {
  font-size: 12px;
  margin: 0px;
  color: black;
  padding-left: 10px;
  margin-bottom: 35px;
}

.mp-hotel-cards {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.mp-hotel-cards img {
  object-fit: cover;
  width: 30%;
  height: 120px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 6px 0px 3px 3px;
  background-color: white;
}

.mp-a-cards-div {
  display: inline-block;
  border-top-style: none;
  margin-top: 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mp-a-cards-div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mp-hotel-cards div {
  display: inline-block;
}

.mp-stars {
  margin-left: 10px;
  margin-top: -30px;
}

.mp-stars i {
  color: #0065fc;
  display: inline-block;
  padding: 0;
  letter-spacing: -4px;
  font-size: 5px;
}

i#empty {
  color: gray;
}

/* this makes the last image slightly 
bigger since it was smaller */
/* .mp-hotel-cards:nth-of-type(4) .mp-a-cards-div img {
  width: 44%;
} */

/* MQ FOR CLASS = MOST POPULAR */

@media (max-width: 768px) {
  .most-popular {
    border-radius: 0px;
    margin: 0px;
  }

  /* to style Most Popular title */
  .mp-title {
    font-size: 15px;
  }

  /* position the star to where it is */
  .mp-title i {
    margin-left: 165px;
    font-size: 20px;
  }

  /* the title of the hotel names */
  .mp-a-cards-div h2 {
    font-size: 16px;
    padding-left: 10px;
  }
}

/* CLASS = ACTIVITIES ------------------------------ */

.activities-h2 {
  margin-left: 30px;
  font-size: 12px;
}
.activity-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.old-port {
  flex-basis: 15%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.old-port img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.old-port h2 {
  font-size: 12px;
  padding-left: 10px;
}
.old-port:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fort {
  flex-basis: 25%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.fort img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.fort h2 {
  font-size: 12px;
  padding-left: 10px;
}
.fort:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.island {
  flex-basis: 25%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.island img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.island h2 {
  font-size: 12px;
  padding-left: 10px;
}
.island:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.national-park {
  flex-basis: 15%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.national-park img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.national-park h2 {
  font-size: 12px;
  padding-left: 10px;
}
.national-park:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.notre-dame {
  flex-basis: 25%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.notre-dame img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.notre-dame h2 {
  font-size: 12px;
  padding-left: 10px;
}
.notre-dame:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.park {
  flex-basis: 25%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.park img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.park h2 {
  font-size: 12px;
  padding-left: 10px;
}
.park:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* MQ FOR CLASS = ACTIVITIES */
@media (max-width: 768px) {
  .activity-cards {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }
}
